annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
audioop-lts==0.2.1
bcrypt==4.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
colorama==0.4.6
cryptography==44.0.0
Deprecated==1.2.18
distlib==0.3.9
distro==1.9.0
Django==4.2.7
django-allauth==65.7.0
django-ckeditor==6.7.2
django-jazzmin==3.0.1
django-js-asset==3.1.0
django-tailwind==3.8.0
djangorestframework==3.16.0
docopt==0.6.2
environs==14.1.1
filelock==3.17.0
Flask==3.1.0
git-filter-repo==2.47.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.8.2
Js2Py==0.74
MarkupSafe==3.0.2
marshmallow==4.0.0
mysql-connector-python==9.2.0
mysqlclient==2.2.7
networkx==2.8.8
numpy==2.2.4
openai==1.59.9
packaging==25.0
pillow==11.1.0
pipwin==0.5.2
platformdirs==4.3.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyAudio==0.2.14
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
pygame==2.6.1
pyjsparser==2.7.1
PyMySQL==1.1.1
PyPDF2==3.0.1
PyPrind==2.11.3
pySmartDL==1.3.4
python-dotenv==1.0.0
python_tsp==0.5.0
qrcode==8.0
requests==2.31.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SpeechRecognition==3.14.2
sqlparse==0.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
tabulate==0.8.10
tqdm==4.67.1
tsplib95==0.7.1
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
urllib3==2.3.0
uv==0.5.24
virtualenv==20.29.1
Werkzeug==3.1.3
whitenoise==6.9.0
wikipedia==1.4.0
wrapt==1.17.2
